<h1>All comments</h1>
<div class="row">
  <div class="col-sm-4">
    <% @comments.each do |comment| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= comment.grade %>
            <h4><%= comment.comment %></h4>
            <p>by: <%= link_to comment.user.name, '#' %></p>
          </div>
        </div>
    <% end %>

  </div>
</div>
