<h1><%= @comment.name %></h1>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
      <div class="panel-body">
        <% User.all.each do |user| %>
            <li><%= link_to user.name, '#' %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="col-sm-6">
    <% @comments.each do |comment| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>grade: <%= comment.grade %></p>
            <h4><%= link_to comment.comment, comment_path(comment) %></h4>
            <p>by: <%= comment.user.name %></p>
          </div>
        </div>
    <% end %>
  </div>
</div>
