<h1>All images</h1>
<div class="row">
  <div class="col-sm-4">
    <% @images.each do |image| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= link_to image.image, image_path(image) %>
            <h4><%= link_to image.title, image_path(image) %></h4>
            <p>by: <%= link_to image.user.name, image_path(image) %></p>
          </div>
        </div>
    <% end %>

  </div>
</div>
