<h1>Create image</h1>
<%= form_for @image do |f| %>
    <div class="form-group">
      <%= f.label :user %><br />
      <%= f.collection_select :User_id, User.all, :id, :name, {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :title %><br />
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :image %><br />
      <%= f.file_field :image, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :user %><br />
      <%= f.collection_select :User_id, User.all, :id, :name, {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit class: 'btn btn-primary' %>
    </div>

<% end %>
