<%= link_to 'List of all images', root_path %> > <%= @notice.title %>
<h1><%= @image.title %></h1>
<p>
  User: <%= link_to @image.user.name, '#' %>, by: <%= notice.user.name %>
</p>
<p>
  <%= image_tag @image.url(:thumb) %>


</p>
<p>
  <b>comments:</b><br/>
<div class="row">
  <div class="col-sm-4">
    <% Comment.all.each do |comment| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= comment.grade %>
            <h4><%= comment.comment %></h4>

            <p>by: <%= link_to comment.user.name, '#' %></p>
          </div>
        </div>
    <% end %>

  </div>
</div>
</p>
<p>
  <% if current_user == @image.user %>
      <%= link_to "Edit notice", edit_image_path, class: 'btn btn-primary' %>
      <%= link_to "Delete notice", image_path(@image), method: :delete, class: 'btn btn-danger' %>
  <%= end %>
</p>
