<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Photo Gallery', root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="nav navbar-nav navbar-right">

          <% if user_signed_in? %>
              <li class="navbar-text">Hello, <%= current.user.name %></li>
              <li><%= link_to 'Create image', new_image_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
          <% else %>

        <%= link_to 'Register', new_user_registration_path,  class: 'btn btn-default navbar-btn' %>
        <%= link_to 'Log in', new_user_session_path,  class: 'btn btn-default navbar-btn' %>
            <% end %>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
